html[dir="ltr"] .myApp .myCustomButton{
    margin-right: 0.125rem;    
}
html[dir="rtl"] .myApp .myCustomButton{
    margin-left: 0.125rem;    
}
.myText{
    display: inline-block;
    font-weight: bold;
}